.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: calc(70vh);
  flex-wrap: wrap;
}

.timer-container,
.flag-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: grid;
  width: calc(70vh);
  max-width: 800px;
  padding: 5px;
}

.grid.easy {
  grid-template-columns: repeat(10, 1fr);
}

.grid.medium {
  grid-template-columns: repeat(18, 1fr);
}

.gridwrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.cell {
  background: #a9a9b0;
  position: relative;
  height: auto;
  /* text-align: center; */
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px;
  border-radius: 10%;
  border: none;
}

.cell.flag {
  /* background-image: url(./assets/flags.svg); */
}

.cell.bomb {
  /* background-image: url(./assets/bomb.svg); */
  background-color: #ffffff;
}

.cell.mine1 {
  /* background-image: url(./assets/1.svg); */
}

.cell.mine2 {
  /* background-image: url(./assets/2.svg); */
}

.cell.mine3 {
  /* background-image: url(./assets/3.svg); */
}

.cell.mine4 {
  /* background-image: url(./assets/4.svg); */
}

.cell.mine5 {
  /* background-image: url(./assets/5.svg); */
}

.cell.mine6 {
  /* background-image: url(./assets/6.svg); */
}

.cell.mine7 {
  /* background-image: url(./assets/7.svg); */
}

.cell.mine8 {
  /* background-image: url(./assets/8.svg); */
}

.cell.opened {
  background-color: #ffffff;
}

/* .grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
} */

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
