.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: grid;
  width: calc(70vh);
}

.grid.easy {
  grid-template-columns: repeat(10, 1fr);
}

.grid.medium {
  grid-template-columns: repeat(18, 1fr);
}

.gridwrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.cell {
  background: #fff;
  border: 0.01rem solid #414c69;
  height: auto;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0.1rem;
}
